@page
@model UserManagement.Pages.ManageToken.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ServiceToken</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceToken.URL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceToken.URL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceToken.UserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceToken.UserID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceToken.Action)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceToken.Action)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceToken.Expiration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceToken.Expiration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceToken.Resolved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceToken.Resolved)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ServiceToken.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
