@page "{AccessURL?}"
@model UserManagement.Pages.Service.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";

    if (ViewData.ContainsKey("warn"))
    {
        <div class="text-danger">
            @ViewData["warn"]
        </div>
    }
    else if (ViewData.ContainsKey("message"))
    {
        @ViewData["message"]
    }
    else
    {
        <div class="row">
            Reset password for @(ViewData["Username"]) (@(ViewData["Email"]))
        </div>
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label for="Answer" class="control-label">@ViewData["Question"]</label>
                        <input asp-for="Answer" class="form-control" />
                        <span asp-validation-for="Answer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Reset Password" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }
}

